:root {
  --max-width: 800px;
  --nav-height: 60px;
}

body {
  margin: 0;
}

nav ul {
  width: var(--max-width);
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  padding: 0 15px;
  line-height: var(--nav-height);
}

header {
  width: var(--max-width);
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
}

section#content {
  width: var(--max-width);
  margin: 0 auto;
  display: flex;
}

section#content ul {
  list-style-type: none;
  padding-left: 0;
}